body {
  text-align: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.game {
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: url("./img/background.png") center/cover;
  width: 800px;
  height: 500px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.game__button {
  width: 60px;
  height: 60px;
  background-color: #f3d9b0;
  border: solid 4px black;
  font-size: 24px;
  border-radius: 10px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  text-align: center;
  background-color: #fbfafb;
  border: solid 3px black;
  border-radius: 10px;
  font-size: 32px;
  margin-top: 8px;
  visibility: hidden;
}
.game__score {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #f09178;
  border: solid 3px black;
  padding: 10px;
  border-radius: 50px;
  font-size: 46px;
  margin-top: 8px;
  color: white;
  visibility: hidden;
}
.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.pop-up {
  margin: auto;
  height: 120px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
  transform: translateY(-150%);
}
.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: rgb(243, 217, 173);
  border: solid 2px black;
  border-radius: 20px;
}

.pop-up__message {
  display: block;
  font-size: 20px;
  margin-top: 30px;
  color: white;
}

.hidden {
  display: none;
}
.bug {
  cursor: pointer;
}
.carrot {
  cursor: pointer;
}
