
.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: makerGreen;
  }
  
  .footer_span {
    font-size: 15px;
    font-weight: 500;
    color: makerWhite;
  }
  