@value makerGreen from '../../common/colors.css';

.preview {
  flex-basis: 50%;
  overflow: scroll;
}

.title {
  width: 100%;
  text-align: center;
  color: makerGreen;
}

.cards {
  width: 100%;
  height: 100%;
  padding: 0.5em 2em;
}
